.main-weather {
  background: linear-gradient(
    141.29deg,
    rgba(3, 67, 36, 0.17) 41.25%,
    rgba(17, 65, 42, 0) 84.06%
  );
  border-radius: 15px;
  box-shadow: 0px 4px 4px -5px #000000;
  padding: 15px;
}

.main-weather .weather-information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.weather .weather-tips {
  text-align: center;
  color: #00000099;
  line-height: 2;
}

.or {
  position: relative;
}

.or hr {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  transform: translateY(-50%);
  margin: 0;
}

.or p {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #d0ddd0;
  text-align: center;
  font-size: 20px;
  margin: auto;
  margin-bottom: 1rem;
  width: fit-content;
}

.daysCards {
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  gap: 15px;
}

.daysCards .card {
  border: 0;
  border-radius: 15px;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.daysCards .card:first-of-type {
  grid-column: 1 / -1;
  background-color: #b0deec;
}

.daysCards .card:not(.card:first-of-type) {
  background-color: #86cfe6;
  grid-column: span 3;
}

@media (max-width: 991px) {
  .main-weather .weather-information {
    flex-direction: column;
    row-gap: 15px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .weather {
    padding: 0 15px;
  }
  .daysCards {
    grid-template-columns: 1fr;
    gap: 15px 0;
  }
  .daysCards .card {
    grid-column: auto;
  }
  .daysCards .card:first-of-type > div,
  .daysCards .card:first-of-type > div .head {
    flex-direction: column;
  }
}
